@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

.hero-bg {
    background:#307D99 url('../images/birds2.jpg');
    background-position: 12% 83%;
    color: rgb(198, 224, 47);
    text-align: center;
    padding-bottom: 4em;
    position: relative;

}

header {
    padding: 1em 0;

}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

/*.weather {
    position: absolute;
    left: 3px;
}*/

section {
    margin: 0 1em;
}


h1 {
    font-size: 2.5rem;
    margin: 0.5em 0 0.5em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: rgb(22, 15, 15);
    margin: 2em -1em 0;
    padding: 2em;
}

label {
    color: #2D7D98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=file] {

    /*<label for="file">选择文件</label>*/
    background-color: rgb(168, 168, 156);
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
}

input[type=submit] {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(216,126,1);
    font-weight: normal;
}

.authentic {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

img {
    width: 100%;
}

p {
    line-height: 2em;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

@media (min-width: 730px) {

    section {
        margin: 0 4em;
    }
    .form-container {
        margin: 2em -4em 0;
    }
}

@media (min-width: 930px) {

    .hero-bg {
        
        text-align: left;
    }
    
    .hero-bg p {
        margin: 0 0 3em;
    }

    .hero-bg section {
        width: 65%;
    }

    .form-container {
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }

    form {
        display: flex;
    }

    .form-left {
        width: 70%;
    }

    label {
        margin: 0;
    }

    input[type="submit"] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }

    section.authentic {
        display: grid;
        background-color: #6e2d2d;
        color: rgb(96, 190, 128);
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
            "bowl content";
    }

    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img {
        grid-area: bowl;
    }

    h2 {
        margin: 0;
    }
}

.top {
    animation: fadeIn 2s forwards;
}


.black_overlay {
    display: none;
    /* 此元素不会被显示*/
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
    z-index: 1001;
    /* z-index 属性设置元素的堆叠顺序。*/
    opacity: .80;
    /* opacity 属性设置元素的不透明级别。*/
}

.white_content {
    display: none;
    position: absolute;
    top: 20%;
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    background-color: white;
    z-index: 1002;
    /*层级要比.black_overlay高，这样才能显示在它前面*/
    overflow: auto;
}

#light {
    position: absolute;
    left: 50%;
    /* top: 50%; */
    width: 300px;
    height: 250px;
    margin-left: -150px;
    /* margin-top: -125px */;
}

#form_submit {
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

#font_login {
    font-weight: 400;
    font-size: 24px;
    color: #BBBBBB;
    text-align: center;
    margin-top: 20px;
}

.button_beautiful {
    width: 60px;
    height: 34px;
    /* 高度 */
    border-width: 0px;
    border-radius: 6px;
    background: #4ECDC4;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 0px;
}

.clickhere {
    width: 150px;
    height: 34px;
    /* 高度 */
    border-width: 0px;
    border-radius: 6px;
    background: #4ECDC4;
    cursor: pointer;
    outline: blueviolet;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
}

.row{
    margin-bottom: 5px;
}
#photo {
    max-width: 100%;
}
.img-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.cropresult {
    margin-left:5px;
}
button {
    margin-top:10px;
}
#result {
    width: 150px;
    height: 150px;
    color:#BBBBBB;
}




.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .btn-good {
    color: #FFF;
    border: 6px solid #000;
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position:relative;
    transition: all 0.3s ease-in-out;
    float:left;
    /*text-align: center;*/
  }
  .btn-good:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .btn-good span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .btn-good:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .btn-good:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .btn-good:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

